executor.queueSize = 8

process {
    errorStrategy = 'retry'

    withName: minimap2_alignment{
        cpus = 32
        memory = 128.GB
    }
    withName: evaluate_candidates {
        cpus = 4
        memory = 16.GB
    }
    withName: pileup_variants {
        cpus = 4
        memory = 16.GB
    }
}