executor.queueSize = 8

process {
    errorStrategy = 'retry'
    maxRetries = 3

    withName: minimap2_alignment{
        cpus = 32
        memory = 128.GB
    }
    withName: evaluate_candidates {
        cpus = 4
        memory = {16.GB * task.attempt}
    }
    withName: phase_contig {
        cpus = 4
        memory = {32.GB * task.attempt}
    }
    withName: pileup_variants {
        cpus = 4
        memory = 16.GB
    }
}