params {
    wf {
        // container sha
        e2l_base_tag = "sha2b856c1f358ddf1576217a336bc0e9864b6dc0ed"
        e2l_snp_tag = "sha17e686336bf6305f9c90b36bc52ff9dd1fa73ee9"
        e2l_sv_tag = "shac591518dd32ecc3936666c95ff08f6d7474e9728"
        e2l_mod_tag = "shaa7bf2b62946eeb7646b9b9d60b892edfc3b3a52c"
        cnv_tag = "sha428cb19e51370020ccf29ec2af4eead44c6a17c2"
        str_tag = "shadd2f2963fe39351d4e0d6fa3ca54e1064c6ec057"
        spectre_tag = "sha49a9fe474da9860f84f08f17f137b47a010b1834"
        snpeff_tag = "shadcc812849019640d4d2939703fbb8777256e41ad"
        common_sha = "shad28e55140f75a68f59bbecc74e880aeab16ab158"
    }
}

process {
    container = "ontresearch/wf-human-variation:${params.wf.e2l_base_tag}"
    errorStrategy = "retry"
    maxRetries = 3
    cpus = 32
    memory = 256.GB
    withLabel:wf_human_snp {
        container = "ontresearch/wf-human-variation-snp:${params.wf.e2l_snp_tag}"
        cpus = 32
        memory = 256.GB
    }
    withLabel:wf_human_sv {
        container = "ontresearch/wf-human-variation-sv:${params.wf.e2l_sv_tag}"
        cpus = 32
        memory = 256.GB
    }
    withLabel:wf_human_mod {
        container = "ontresearch/modkit:${params.wf.e2l_mod_tag}"
        cpus = 32
        memory = 256.GB
    }
    withLabel:wf_cnv {
        container = "ontresearch/wf-cnv:${params.wf.cnv_tag}"
        cpus = 32
        memory = 256.GB
    }
    withLabel:wf_common {
        container = "ontresearch/wf-common:${params.wf.common_sha}"
        cpus = 16
        memory = 128.GB
    }
    withLabel:spectre {
        container = "ontresearch/spectre:${params.wf.spectre_tag}"
        cpus = 32
        memory = 256.GB
    }
}