params{
    max_memory                 = 488.GB
    max_cpus                   = 64
    max_time                   = 240.h
}

executor.queueSize = 15

process {
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 5
    
    withLabel: 'wf_common'{
        cpus         = { check_max( 2 * task.attempt, 'cpus' ) }
        memory       = { check_max( 8.GB * task.attempt, 'memory' ) }
        errorStrategy = 'retry'
        maxRetries = 3
    }
    
    withLabel: 'wf_somatic_snv' {
        container = "590183655792.dkr.ecr.us-east-1.amazonaws.com/pipelines/external:ontresearch_wf-somatic-variation_sha86599ecdb46472d01e0b7c2704683f6aee8a82dd"
        
        cpus         = { check_max( 4 * task.attempt, 'cpus' ) }
        memory       = { check_max( 16.GB * task.attempt, 'memory' ) }
        // time         = { check_max( 24.h, 'time' ) }
        errorStrategy = 'retry'
        maxRetries = 3
    }
    
    withName: 'minimap2_alignment' {
        cpus = 32
        memory = { check_max( 64.GB * task.attempt, 'memory' ) }
    }
    
    withName: 'modkit' {
        memory       = { check_max( 32.GB * task.attempt, 'memory' ) }
        maxRetries = 5
    }
    
    withName: 'makeReport' {
        cpus         = { check_max( 1 * task.attempt, 'cpus' ) }
        memory       = { check_max( 16.GB * task.attempt, 'memory' ) }
    }
    
    withName: 'clairs_extract_candidates' {
        cpus         = { check_max( 4 * task.attempt, 'cpus' ) }
        memory       = { check_max( 16.GB * task.attempt, 'memory' ) }
        // errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
    }
    
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}