docker.enabled = true
docker.runOptions = '--cpus 0.000 -u root --entrypoint ""'

params.contPfx = ''

process {
    executor = 'awsbatch'
    // withName: 'segmentation:worker' {
    //     queue = 'gpu'
    //     clusterOptions = '--gres=gpu:1'
    // }
}
aws {
    // region = 'us-east-1'
    // batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
}

